.control-container {
    display: flex;
    flex-direction: row;
  }

  #booking {
    top: 1250px;
    position: absolute; 
  }

  #availability {
    top: 1700px; 
    position: absolute;
  }

  #Reviews {
    top: 2150px; 
    position: absolute;
    left: 10px; 
  }

  #Places {
    top: 13650px;
    position: absolute;
  }
